{% extends "::base.html.twig" %}

{% block head %}
    <title>{% block title %}Symfony Micro Framework{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
{% endblock %}

{% block body %}
    {% block content %}{% endblock %}

    {% block javascripts %}{% endblock %}
{% endblock %}
